body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }

#learnmate {
    /* color: #66bfbf; */
    text-align: center;
    font-size: 600%;
    padding-top: 30px;
    margin-bottom: 70px;
    font-family: "Sacramento", cursive;
    color: #FF00FF;
    font-family: 50px;
  }
  #smart{
      text-align: center;
  }
  .top-container {
    background-color: #F5F5F5;
    position: relative;
    /* padding-top: 50px; */
    margin-bottom: 50px;
  }

  .middle-container1{
   margin-bottom: 50px;
    
  }

  .middle-container2{
    background-color: #66bfbf;
    padding:50px 0 20px;
  }

  #button{
    background-color: red;
    /* text-shadow: black; */
    font-size:large ;
    color: white;
  }
  #button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  * {
    box-sizing: border-box;
  }
  #error {
    font-size: 12px;
    color: red;
  }

  .copyright{
    color: #11999E;
    font-size: 0.75rem;
    padding: 20px 0;
    text-align: center;
    
}

a{
  color: #11999E;
  font-family: "Montserrat", sans-serif; 
  margin:10px 20px;
  text-decoration: none;
  
}

a:hover{
  color: #eaf6f6; 
}

.bottom-container {
  /* background-color: #66bfbf; */
  padding:20px 0 20px;
}



